---
layout: page
title: WeEvolve.dev
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="block">
          <h1 class="animated fadeInUp"> WE ELEVATE YOUR SOFTWARE  <br> DEVELOPMENT ENDEAVOURS IN VIETNAM <br> TO A HIGHER LEVEL </h1>
          <p class="animated fadeInUp">We help you get started, overcome common challenges, establish organic growth and bring Asian agility to your enterprise.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>AGILE PRODUCT MANAGEMENT</h2>
            <p>"It's not the big that eat the small — it's the fast that eat the slow."</p>
          </div>
          <p>Software products evolve in a quickly changing environment, and the ones that adapt best to changing conditions survive. With your development teams based in Vietnam, you are well equipped to implement an agile development process.</p>
          <p>Let us manage your product development process so you make best use of the pragmatic and adaptive Vietnamese working style — while delivering the quality that is required by the international market.</p>
          <p>Or are you still in the process of starting your outsourcing project? We know how to recruit the best members for your new team and start a pilot project for you. You take over whenever you are ready.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <div class="block">
        <div class="section-title">
          <h2>CONSULTING AND TRAINING</h2>
          <p>"With a robust economy, that has an unbelievable growth rate; Vietnam is considered to be a dynamic nation with great outsourcing potential."</p>
        </div>
        <p>Let us help you make it work for you.</p>
        <p>We believe that with an organic approach to include Vietnamese in your enterprise, you will gain far more than just cost-effective development resources. We help you to staff your teams with the right people. We facilitate a bidirectional process of sharing and learning, that brings out the best in your international teams.</p>
        <p>Your managers, Scrum mastes, developers and testers can benefit from our experience in running international projects in the form of trainings, one-on-one coaching or strategic consultancy.</p>
        <!-- a href="#" class="btn btn-view-works">View Works</a -->
      </div>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>HOW CAN WE HELP YOU</h2>
        <p>It can take a long time to figure out how to make agile projects work in international teams - and sometimes, it does not work at all.</p>
        <p>We have done it and we can do it again for you, faster than you might expect.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Consulting</h4>
          <p>Some outsourcing strategies work in Vietnam and some don't - we can help you avoid common pitfalls and set up structures that get you started. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-play"></i>
          <h4>Pilot Teams</h4>
          <p>We set up pilot teams in Vietnam that join your projects. If it works for you, you open your branch in Vietnam and keep your teams. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-person-add"></i>
          <h4>Recruiting</h4>
          <p>We know how to recruit the right people for you in Vietnam. We write job ads that catch interest. We know the interview questions that matter. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-person-stalker"></i>
          <h4>Onboarding Support</h4>
          <p>Transporting your company culture to remote teams is hard. We set up an onboarding process that introduces new colleagues to your working style. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-university"></i>
          <h4>Agile Coaching</h4>
          <p>Your international teams don't perform as well as expected? We will introduce small changes to their daily work, that will remove the obstacles. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-social-buffer"></i>
          <h4>Product Management</h4>
          <p>We replace your project plan with a prioritized backlog and bring it to production early, so you can see it grow, adapt and evolve. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Agile QA Management</h4>
          <p>You already have a fast and agile process, but the quality isn't right? We know how to bring quality to your processes without slowing you down. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-coffee"></i>
          <h4>Intercultural Training</h4>
          <p>Embrace diversity and promote mutual respect. We share our intercultural experience from software projects, with direct applicability in daily life. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>GET IN TOUCH</h2>
          <p>Tell us about your ideas. Share your vision with us. We are looking forward to hearing from you.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Drop Us A Note</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->